// 1. Variables 
$layout-mode: "dark"; // Change to "dark" for dark mode
$primary-color: #007bff;
$dark-grey-color: #343a40;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$white-color: #ffffff;
$light-white: #dcddde;
$dark-black: #343A40;