@use "sass:color";
// Partial files (Variables and Mixins) _variables.scss and _mixins.scss '_' underscore starts with underscore means it's a partial file and won't be compiled to CSS directly, but can be imported into other SCSS files.
@use 'variables' as *;
@use 'mixins' as *;

body {
    font-family: 'Arial', sans-serif;
    padding: 40px;
    transition: all 0.5s ease;

    // Conditional Statements (light/dark mode)
    @if $layout-mode =="dark" {
        background-color: $dark-grey-color;
        color: $white-color;
    }

    @else {
        background-color: $white-color;
        color: $dark-grey-color;
    }

    // 3. Nesting Start (Body inside elements)
    h1 {
        @include text-style(40px, $primary-color); // Mixin usage with arguments
        text-align: center;
        border-bottom: 2px solid $primary-color;
        padding-bottom: 10px;
    }

    p {
        line-height: 1.6;
        margin-bottom: 20px;

        @if $layout-mode =="dark" {
            @include text-style(18px, $light-white);
        }

        @else {
            @include text-style(18px, $dark-black);
        }


    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 10px;
            padding: 15px;
            border-radius: 8px;

            strong {
                color: $primary-color; // Only for the strong tags inside the list
            }

            @if $layout-mode =="dark" {
                background: #2d2d2d;
                color: $light-white;
                border-left: 5px solid $primary-color;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            }

            @else {
                background: $white-color;
                border-left: 5px solid $secondary-color;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
            }

        }
    }

    input[type="text"] {
        padding: 10px;
        border: 1px solid $secondary-color;
        border-radius: 4px;
        width: calc(50% - 50px); // Calculation using SCSS operators +, -, *, /, % (modulus)
    }

    button {
        padding: 10px 20px;
        background-color: $primary-color;
        color: $white-color;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s ease;

        // Special '&' operator (Parent Selector)
        &:hover {
            background-color: color.scale($primary-color, $lightness: -15%); // Color thora dark ho jaye ga
        }
    }

    // 4. Placeholder Selectors (Reusable styles without generating CSS)
    %btn-layout {
        padding: 12px 25px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        text-transform: uppercase;
    }

    // 5. Extending Placeholder Selectors
    .btn-success {
        @extend %btn-layout;
        background-color: $success-color;
        color: white;
    }

    .btn-danger {
        @extend %btn-layout;
        background-color: $danger-color;
        color: white;
    }

    // Mixin use
    .form-group {
        @include flex-center;
        margin-top: 30px;
    }
}